/* Pinwheel CSS by Skittyblock */

.pinwheel-overlay {
  position: relative;
  z-index: 10000;
}

.pin-notification {
  transform: translateY(-200%);
  transform-delay: 1s;
  transition: transform 0.6s;
  position: absolute;
  left: 2.5%;
  z-index: -1;
  top: 5px;
  width: 95%;
  margin: auto;
  background-color: rgba(255,255,255,0.6);
  color: #000;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 13px;
}
.pin-notification.active {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}
.pin-notification.light {
  background-color: rgba(255,255,255,0.6);
  color: #000;
}
.pin-notification.dark {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.pin-widget {
  position: relative;
  z-index: 10;
  width: 95%;
  margin: auto;
  background-color: rgba(250, 250, 250, 0.5);
  color: #000;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 13px;
  margin-top: 20px;
}
.pin-widget.light {
  background-color: rgba(250, 250, 250, 0.5);
  color: #000;
}
.pin-widget.dark {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
.pin-widget.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.pin-widget.light .pin-top {
  position: relative;
  z-index: 15;
  background-color: rgba(255,255,255,0.4);
  color: #000;
  height: 36px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.pin-widget.dark .pin-top {
  position: relative;
  z-index: 15;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  height: 36px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.pin-img img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 8px;
}
.pin-title {
  position: absolute;
  z-index: 20;
  color: #575757;
  font-size: 13px;
  top: 0;
  padding-top: 9px;
  padding-left: 36px;
}
.pin-dismiss {
  position: absolute;
  z-index: 20;
  color: #575757;
  font-size: 13px;
  top: 0;
  right: 0;
  padding-top: 9px;
  padding-right: 9px;
}
.dark .pin-title, .dark .pin-dismiss {
  color: #ddd;
}
.pin-bold {
  padding-top: 6px;
  padding-left: 15px;
  font-weight: bold;
}
.pin-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.pin-text.pad {
  padding-top: 6px;
}
